<div class="container justify-content-center">
  <div class="list-group list-group-flush p-5">
    <div class="w-75 list-group-item list-group-item-action flex-column align-items-start">
      <div routerLink="recipeDetail">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Recipe Name</h5>
        </div>
        <p class="mb-1">Calorie: 100</p>
      </div>
      <button class="btn btn-primary">Add to Wished Dish</button>
    </div>
    <a href="#" class="w-75 list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Recipe Name</h5>
      </div>
      <p class="mb-1">Calorie: 100</p>
    </a>
    <a href="#" class="w-75 list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Recipe Name</h5>
      </div>
      <p class="mb-1">Calorie: 100</p>
    </a>
  </div>
</div>
