<div class="container justify-content-center">
  <div class="card m-5">
    <div class="card-body">
      <h5 class="card-title">Recipe Name</h5>
      <p class="card-text">Recipe Description</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ingredient 1</li>
      <li class="list-group-item">Ingredient 2</li>
      <li class="list-group-item">Ingredient 3</li>
    </ul>
    <div class="card-body">
      <button class="card-link btn btn-primary">Add to Wished Dish</button>
      <button class="btn btn-danger float-right">Delete</button>
    </div>
  </div>
</div>
